---
Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[/\\](include|src|tests)[/\\].*'
FormatStyle: file
...
